<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>748480483208-8a42fqe8jhu82r4trrfm4hrpdvn5qc05.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748480483208-8a42fqe8jhu82r4trrfm4hrpdvn5qc05</string>
	<key>API_KEY</key>
	<string>AIzaSyBCoxAUj2hlxVKv-e6erEQFna8LcJ5aNmY</string>
	<key>GCM_SENDER_ID</key>
	<string>748480483208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nickhe.Memory-Card</string>
	<key>PROJECT_ID</key>
	<string>memory-card-6057f</string>
	<key>STORAGE_BUCKET</key>
	<string>memory-card-6057f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748480483208:ios:192aaa9b41cd2b2a</string>
	<key>DATABASE_URL</key>
	<string>https://memory-card-6057f.firebaseio.com</string>
</dict>
</plist>